.buttonbar {
    cursor: pointer;
    font-family: "Guttman Calligraphic Regular";
    left: 20%;
    margin-top: 15px;
    margin-left: 1360px;
    text-align: center;
    width: 210px;
    height: 40px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 8px;
    opacity: 0.8;
    text-decoration: none;
    color: pink;
    background-color: rgb(51, 51, 77);
}

.buttonbar:hover {
   cursor: pointer;
    font-family: "Guttman Calligraphic Regular";
    margin-top: 15px;
    margin-left: 1360px;
    text-align: center;
    width: 210px;
    height: 40px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(77, 0, 77);
    background-color: rgb(224, 224, 235);
}

.menubar-wrapper{
    display: flex;
}

