
<html> 

<head>

<link href="/node_modules/css/hover.css" rel="stylesheet" media="all">  
</head>
<body>

<div align="center" class="bar">
<a href="#" class="button hvr-underline-from-left" draggable="false"> Home </a>
<a href="#" class="button hvr-underline-from-left" draggable="false"> Gallery </a>
<a href="#" class="button hvr-underline-from-left" draggable="false"> Makeup </a> 
<a href="#" class="button hvr-underline-from-left" draggable="false"> Videos </a> 
<a href="#" class="button hvr-underline-from-left" draggable="false"> Prices </a> 
<a href="#" class="button hvr-underline-from-left" draggable="false"> Contact Us </a> 
</div>

<!--
<img src="/assets/logo.jpg" class="logo">
-->

<!--
<p>
  <img src='/assets/plus.png' style="width:80px;height:80px;" align="right" hover="Add new task" title="Add new task" >
</p>
-->



</body>

</html>
