.buttonbar {
    cursor: pointer;
    position: relative;
    display: block;
    font-family: "Tahoma";
    top: 100px;
    margin-top: 15px;
    margin-left: 1660px;
    text-align: center;
    width: 210px;
    height: 40px;
    font-size:  25px;
    border: 2px solid black;
    border-radius: 8px;
    opacity: 0.8;
    text-decoration: none;
    color: black;
    line-height: 38px;
    background-color: rgba(216, 216, 216, 0.35);
}

.buttonbar:hover {
   cursor: pointer;
    color: rgb(77, 0, 77);
    background-color: rgb(224, 224, 235);
    cursor: pointer;
    position: relative;
    display: block;
    font-family: "Tahoma";
    top: 100px;
    margin-top: 15px;
    margin-left: 1660px;
    text-align: center;
    width: 210px;
    height: 40px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 8px;
    opacity: 0.8;
    text-decoration: none;
    line-height: 38px;
  


}

.menubar-wrapper{
   display: inline-flex;
}

.logo {
  position: absolute;
  top: 14px;
}