<!DOCTYPE html>
<html>

<head>

</head>

<body>

  <div *ngFor="let photo of photoList">
    <img *ngIf="currentPhoto === photo" [src]="photo.path" class="LargePhoto" draggable="false">
  </div>
  <div class="title"> {{currentPhoto.title}} </div>

  <img src="/assets/left.jpg" class="arrowleft" draggable="false" (click)=leftArrowClicked()>
  <img src="/assets/right.jpg" class="arrowright" draggable="false" (click)=rightArrowClicked()>


  <!--<img *ngFor="let photo of photoList" [src]="photo.path" class="thumbnail" [title]="photo.title" [ngClass]="{'selected': photo.path === currentPhoto}"
    draggable="false" (click)=PhotoClicked(photo)>-->





</body>


</html>