body {
    background: -webkit-linear-gradient(to right, white, #F0F0F0);
    background: -moz-linear-gradient(to right, white, #F0F0F0);
    background: -o-linear-gradient(to right,white, #F0F0F0);
    background: linear-gradient(to right, white, #F0F0F0);

    width:1850px;
    height:1000px;
}

@media screen and (min-width: 1366px) {
#gallery-1 img {width:375px;}
}
@media screen and (min-width: 1440px) {
#gallery-1 img {width:428px;}
}
@media screen and (min-width: 1600px) {
#gallery-1 img {width:434px;}
}
@media screen and (min-width: 1920px) {
#gallery-1 img {width:540px;}
}